[submodule "google_kubeflow"]
	path = google_kubeflow
	url = git@github.com:google/kubeflow.git
[submodule "third_party/agents"]
	path = third_party/agents
	url = https://github.com/cwbeitel/agents
[submodule "third_party/k8s"]
	path = third_party/k8s
	url = https://github.com/tensorflow/k8s.git
